.search-filter {
    box-sizing: border-box;
    width: 100%;
}

#search {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#filter {
    width: 100%;
    margin-bottom: 1.5rem;
}

.label-text {
    width: 40%;
    word-wrap: break-word;
}

.important {
    color: red;
}

#list {
    margin-top: 1rem;
}

.buttons {
    float: right;
}

.row {
    margin-top: 1rem;
}

.done {
    color: green;
    text-decoration: line-through; /*зачёркивание*/
}

.check {
    color: green;
}